.card-principal{
    width: 100%;
    height: 91%;
    margin: .3em 0 0 0;
}
.card-menu-lateral{
    width: 16%;
    float: left;
    /*border: 1px solid red;*/
    border-right: 1px solid #D5D8DC;
    height: 100%;
    margin-top: -1em !important;
    margin-left: -1em;
}
.card-area-trabajo{
    width: 84%;
    float: right;
    height: auto;
    margin-right: -1em;
}

.grafica-principal{
    width: 77%;
    height: auto;
    margin: 2em 0 0 2em;
}